* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;

}

#main {
    min-height: 100vh;
    width: 100%;
    background-color: #000000;

}

nav {
    height: 5vw;
    width: 100%;
    /* background-color: #0a32d0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;

}

nav ul {
    display: flex;
    justify-content: space-between;

}

nav ul li {
    padding: 2vw;
    list-style: none;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: antiquewhite;
    font-size: 2vw;
}

nav h4 {
    font-size: 4vw;
    color: antiquewhite;
}

nav span {
    color: rgb(201, 6, 71);
}

#main #page1 h1 {
    color: aliceblue;
    font-size: 3.5vw;
}

#page1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 3vw;
}

#page1 img {
    height: 40vw;
    width: 40vw;
}

nav ul li::after {
    content: "";
    height: 0;
    width: 0;
    background-color: #0485ff;
    position: absolute;
    bottom: 20%;
    left: 25%;
    transition: 0.5s;
}

nav ul li:hover::after {
    width: 50%;
    height: 3px;

}

#page2 {
    background-color: rgb(0, 0, 0);
}

#page2 h1 {
    padding: 1vw 45vw;
    font-size: 4vw;
    color: aliceblue;
}

#about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
}

#about img {
    height: 35vw;
    width: 30vw;
    border: 2px solid rgb(124, 117, 117);
    border-radius: 10px;
}

#middle-box {
    height: 35vw;
    width: 30vw;
    border: 2px solid rgb(124, 117, 117);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 1vw 1vw;

}

#middle-box h3 {
    position: relative;
    font-size: 1.5vw;
    height: 2vw;
    color: aliceblue;
}

#middle-box h3::after {
    content: " ";
    height: 0;
    width: 7vw;
    background-color: #0ca7ee;
    position: absolute;
    left: 0;
    bottom: 0
}

#middle-box h3:hover::after {
    height: 2px;
    transition: 0.5s;
}

#middle-box h3:hover {
    color: crimson;
}

#page3 {
    background-color: #000000;
}

#page3 img {
    height: 25vw;
    width: 20vw;
    border-radius: 10px;
}

#page3 h1 {
    font-size: 3vw;
    padding: 2vw 37vw;
    color: aliceblue;
}

#activity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vw;
}
#page4
{
    background-color: #000000;
    height: 100vh;
    width: 100%;
    /* display: block; */
}
#page4 h1{
    font-size: 4vw;
    padding:1vw 35vw;
    color: antiquewhite;
}
#academic{
    display: grid;
    grid-template-columns: 20vw 10vw 1vw 10vw 20vw;
    grid-template-rows: 3vw 3vw 1vw 3vw 4vw 3vw 1vw 3vw 4vw 3vw 1vw 3vw 3vw;
    justify-content: center;
}
#box1{
grid-row:2/5;
grid-column:1/2;
border:1px solid antiquewhite;
border-radius:50px;
color: antiquewhite;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
 font-size: 1.5vw;
}
#head{
    color: crimson;
    font-size: 1.5vw;
}
#box2{
    grid-row:3/4;
    grid-column:2/3;
    background-color: #07b4db;
    border-radius: 50px;
}
#box3{
    grid-row:1/13;
    grid-column: 3/4;
    background-color: #07b4db;
    border-radius: 50px;
}
#box4{
    grid-row:7/8;
    grid-column: 4/5;
    background-color: #07b4db;
    border-radius: 50px;
}
#box5{
    grid-row: 6/9;
    grid-column: 5/6;
    border:1px solid antiquewhite;
    border-radius:50px;
    color: antiquewhite;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
 font-size: 1.5vw;
}
#box6{
    grid-row:11/12;
    grid-column:2/3;
    background-color: #07b4db;
    border-radius: 50px;
}
#box7{
    grid-row:10/13;
    grid-column: 1/2;
    border-radius:50px;
    border:1px solid antiquewhite;
    color: antiquewhite;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
 font-size: 1.5vw;
}
#page5{
    height: 100vh;
    width: 100%;
    background-color: #000000;
}
#page5 h2{
    font-size: 3vw;
    padding: 1vw 42vw;
    color: aliceblue;
}
#page5 h4{
    color: aliceblue;
}
#contact{
   display: flex;
    justify-content: space-between;
    align-items: center;
}
.img77
{
    height: 2vw;
    width: 2vw; 
}
#get{
    padding:1.5vw;
}
footer .social{
    height: 4vw;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content:space-evenly;
    align-items:end;
}
.foot img {
    height: 2vw;
    width: 2vw;
}
#f p{

    color: #000000
}