*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.screen
{
    height: 100vh;
    width: 100vw;

    background-color: #253e3f; 
    display: flex;
    justify-content: center;
    align-items: center;
}
#box
{
    margin-top:10%;
background-color: #307fa769;
width:300px;
height: 400px;
border-radius: 10px;
padding: 20px;
position: relative;
}
#box img
{
    background-color: #f70101;
    width:100%;
    height:60%;
    object-fit: cover;
    object-position:center;
    border-radius: 10px;
}
#box h4{
    margin: 10px;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}
#box h5
{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: #a3a3a3;
}
#btn-con
{
display: flex;
justify-content: center;
padding: 10px;
gap:10px;
}
button{
    border: none;
    border-radius: 10px;
    height:30px;
    width: 35%;
    background-color: #568888;
    cursor: pointer;
}
#box i{
    color: antiquewhite;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-250%) scale(0);
    opacity: 0;
    transition: 0.5s;
}
.cursor
{
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
}
